body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.5);
    padding-top: 100px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

li span {
    flex: 1;
}

.delete-button {
    background-color: #FF3A31;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
